h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

body {
  font-family: helvetica;
}
.sidebar {
  float: right;
  border: solid #37351e;
  padding: 12px;
  background-color: #b8b264;
}

.column {
  width: 300px;
  float: left;
  
}

.logo {
  float: left;
}
/*
.right-column {
  float: right;
  width: 500px;
}
*/
