
h1 {
  text-align: center;
  color: #939190;
}

h2 {
  text-align: left;
  margin-left: 20px;
}

body {
  font-family: arial;
}

.sidebar {
  float: right;
  border: solid #37351e;
  padding: 12px;
  background-color: #c9c9c9;
  margin-right: 90px;
}

.column {
  width: 360px;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.logo {
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: #efeded;
  }

    .column {
      width: 260px;
    }

    .sidebar {
      width: 260px;
    }
}

  @media screen and (min-width: 480px) and (max-width: 840px) {
    body {
      background-color: #f7f7f7;
    }

    .column {
      width: 300px;
    }

    .sidebar {
      width: 300px;
    }
  }

  @media screen and (min-width: 840px) and (max-width: 1800px) {
    body {
      background-color: white;
    }
  }
